body{
    margin: 0;
}


h1{

    margin: 0;
    padding: 0;
}
#one{
    width: 100px;  
    border-style: solid;
    border-color: aqua;
}


#top{
position: relative;
left: 30%;
/*bottom: 10%;*/
    width: 40%;
 background-color: blue;
border-style:solid;
border-color: burlywood;
border-width: 1px;
/* margin-left: 40%; */
padding-left: 5%; 
}



h3{
    font-family:'Merienda', cursive;
    text-decoration: overline;
    text-decoration: underline;
}
#bottom{
    width: 40%;
     background-color: blue;
    border-style:solid;
    border-color: burlywood;
    border-width: 1px;
    margin-top: 30%;
    margin-left: 40%;
    font-size:50px;
    font-weight: 650;
}

.class{
    height: 20px;
}