body{
    margin: 0;
}


h1{

    margin: 0;
    padding: 0;
}



#top{
width: 40%;
 background-color: blue;
border-style:solid;
border-color: burlywood;
border-width: 1px;
/* margin-left: 40%;
padding-left: 5%; */
}

#bottom{
    width: 40%;
     background-color: blue;
    border-style:solid;
    border-color: burlywood;
    border-width: 1px;
    margin-top: 30%;
    margin-left: 40%;
}

3{
    font-family:'Merienda', cursive;

}